.rowsWrapper {
    overflow: auto;
}

.buttonWrapper {
    & > button {
        float: right;
        padding: 10px;
        width: 70px;
        border-radius: 10px;
        margin-right: 10px;
    }
}