.seatWrapper {
    margin: 10px;
    padding: 10px;
    border: solid 1px lightgray;
    cursor: pointer;
}

.selected {
    background-color: #52CEB4;
}

.booked {
    background-color: lightgray;
    cursor: not-allowed;
}